<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automated CI/CD Pipeline</title>
</head>
<body>
    <h1>🚀 Automated CI/CD Pipeline</h1>

    <h2>Project Successfully Deployed</h2>

    <p>This application is deployed using:</p>

    <ul>
        <li>GitHub</li>
        <li>Jenkins</li>
        <li>Docker</li>
        <li>AWS EC2</li>
        <li>Shell Scripting</li>
    </ul>

    <h3>Developed by Mayur Andhale</h3>
</body>
</html>